.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-body {
  min-height: 70vmin;
}

.App-link {
  color: #61dafb;
}

.App-Buttons {
  width: 50vmax;
  margin: auto;
  text-align: center;
}