**/build
**/node_modules
**/public/hot
**/public/storage
**/storage/*.key
**/.idea
**/.vagrant
**/.vscode
**/npm-debug.log
**/yarn-error.log
**/.env
**/*.rest
**/.eslintrc.*
**/*.backup.*
doc/out/index.html
doc/out/fonts/OpenSans-Bold-webfont.eot
doc/out/fonts/OpenSans-Bold-webfont.svg
doc/out/fonts/OpenSans-Bold-webfont.woff
doc/out/fonts/OpenSans-BoldItalic-webfont.eot
doc/out/fonts/OpenSans-BoldItalic-webfont.svg
doc/out/fonts/OpenSans-BoldItalic-webfont.woff
doc/out/fonts/OpenSans-Italic-webfont.eot
doc/out/fonts/OpenSans-Italic-webfont.svg
doc/out/fonts/OpenSans-Italic-webfont.woff
doc/out/fonts/OpenSans-Light-webfont.eot
doc/out/fonts/OpenSans-Light-webfont.svg
doc/out/fonts/OpenSans-Light-webfont.woff
doc/out/fonts/OpenSans-LightItalic-webfont.eot
doc/out/fonts/OpenSans-LightItalic-webfont.svg
doc/out/fonts/OpenSans-LightItalic-webfont.woff
doc/out/fonts/OpenSans-Regular-webfont.eot
doc/out/fonts/OpenSans-Regular-webfont.svg
doc/out/fonts/OpenSans-Regular-webfont.woff
doc/out/scripts/linenumber.js
doc/out/scripts/prettify/Apache-License-2.0.txt
doc/out/scripts/prettify/lang-css.js
doc/out/scripts/prettify/prettify.js
doc/out/styles/jsdoc-default.css
doc/out/styles/prettify-jsdoc.css
doc/out/styles/prettify-tomorrow.css