.browser {
    padding: 2vmin 3vmin;
    width: 50vmax;
    min-height: 40vmin;
    max-height: 100vmin;
    overflow-y: scroll;
    cursor: text;
    font-family: "Times New Roman", sans-serif;
    font-size: 16pt;
    margin: auto;
    border-collapse: separate;
    border-radius: 0.5em;
    border-style: solid;
    border-color:cadetblue;
}
