.browser {
    width: 50vmax;
    min-height: 40vmin;
    cursor: text;
    font-family: "Times New Roman", sans-serif;
    font-size: 16pt;
    margin: auto;
    border-collapse: separate;
    border-radius: 0.5em;
    border-style: solid;
    border-color:cadetblue;
    padding: 2vmin 3vmin;
    margin-top: 1vmin;
}
